* {
    font-family: 'Open Sans';
}

li.nav-link-button {
    text-decoration: none;
    color: white;
    background-color: black;
}

li.nav-link-button:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}

a.nav-link-button {
    height: 100%;
    background-color: black;
}

a.nav-link-button:hover {
    color: black;
    transition: 0.5 ease-in;
}

.nav-link-button:visited {
    text-decoration: none;
}

a.nav-link-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link-text {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.nav-link-text:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link-text:visited {
    text-decoration: none;
}

.nav-icon {
    font-size: 32px;
}