li.nav-link-button {
    text-decoration: none;
    color: white;
    background-color: black;
}

a.nav-link-button {
    height: 100%;
    background-color: black;
}

.nav-link-text {
    margin-top: 32px;
    text-decoration: none;
    color: white;
}