{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <h3>Create a Project</h3>
    <form action="{{ url_for('create_project') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token  }}
        <div class="form-contents">
            <div class="left-project">
                <div>
                    <label>{{ form.title.label }}</label>
                    {{ form.title() }}
                </div>
                <div>
                    <label>{{ form.description.label }}</label>
                    {{ form.description(class="full-desc") }}
                </div>
            </div>
            <div class="right-project">
                <div>
                    <label>{{ form.funding_goal.label }}</label>
                    {{ form.funding_goal() }}
                </div>
                <div>
                    <label>{{ form.current_funding.label }}</label>
                    {{ form.current_funding() }}
                </div>
                <div>
                    <label>{{ form.user_id.label }}</label>
                    <input type="number" value="{{ current_user.id }}" readonly>
                </div>
                <div>
                    <label>{{ form.logo_image.label }}</label>
                    {{ form.logo_image() }}
                </div>
                <div>
                    <label>{{ form.youtube_video_link.label }}</label>
                    {{ form.youtube_video_link(placeholder="http:// format required") }}
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="button">Create Project</button>
        </div>
    </form>
</div>
{% endblock %}