{% extends 'layout.html' %}
{% block content %}
<div class="row home-main-content">
    <div>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
        <li class="tabs-title"><a href="#projects">Project Proposals</a></li>
        <li class="tabs-title"><a href="#voting">Voting Power</a></li>
        <li class="tabs-title"><a href="#trading" aria-selected="true">Peer-to-Peer Trading</a></li>
        <li class="tabs-title"><a href="#notifications">Notifications & Updates</a></li>
        <li class="tabs-title"><a href="#analytics">Analytics & Insights</a></li>
        <li class="tabs-title"><a href="#settings">Settings</a></li>
      </ul>
    </div>
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="overview">
          <p>This is the content of Overview.</p>
        </div>
        <div class="tabs-panel" id="projects">
          <p>This is the content of Projects.</p>
        </div>
        <div class="tabs-panel" id="voting">
          <p>This is the content of Voting.</p>
        </div>
        <div class="tabs-panel" id="trading">
            <p>This is the content of Trading.</p>
        </div>
        <div class="tabs-panel" id="notifications">
            <p>This is the content of Notifications.</p>
        </div>
        <div class="tabs-panel" id="analytics">
            <p>This is the content of Analytics.</p>
        </div>
        <div class="tabs-panel" id="settings">
            <p>This is the content of Settings.</p>
        </div>
    </div>
</div>
{% endblock %}