<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Imperium | A Fair chance for Great Ideas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/imperium.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-icons.css') }}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="top-bar" style="padding: 0px">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <img width="10%" src="{{ url_for('static', filename='images/imperium-logo.png') }}" alt="logo">
            </li>
            <li class="align-bottom nav-link-button"><a class="nav-link-text" href="/" style="display: flex;"><i class="fi-home nav-icon"></i>Home</a></li>
            <li class="align-middle nav-link-button"><a class="nav-link-text" href="/docs" style="display: flex;"><i class="fi-info nav-icon"></i>Docs</a></li>
            {% if not current_user.is_authenticated %}
            <li class="align-middle nav-link-button"><a class="nav-link-text" href="/login" style="display: flex;"><i class="fi-torso nav-icon"></i>Login</a></li>
            <li class="align-middle nav-link-button"><a class="nav-link-text" href="/register" style="display: flex;"><i class="fi-clipboard-pencil nav-icon"></i>Register</a></li>
            {% else %}
            <li class="align-middle nav-link-button"><a class="nav-link-text" href="/logout" style="display: flex;"><i class="fi-power nav-icon"></i>Logout</a></li>
            {% endif %}
            <li class="align-middle nav-link-button"><a class="nav-link-text" href="/getintouch" style="display: flex;"><i class="fi-telephone nav-icon"></i>Get in Touch</a></li>
        </ul>
    </div>
</nav>

<!-- Content Section -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="main-footer">
    <div class="row">
        <div class="column">
            <p>&copy; 2023 Startup Web App. All rights reserved.</p>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
