{% extends 'layout.html' %}
{% block content %}
<div class="row login-main-content">
    <div class="col reg-left-cta">
        <div class="call-to-action">
            <h3 class="h3">Stay ahead of the market with real-time price updates. Our AI algorithms monitor market data, providing accurate and up-to-date information.</h3>
            <p>Join us on this thrilling journey to reshape the future of decentralized finance and angel investing.</p>
            <p>Together, we can revolutionize the way investments are made and projects are funded. Be part of the Decentralized Angel Investor Bitcoin Exchange and empower the community today.</p>
          </div>
    </div>
    <div class="col reg-right-form">
        <h3 class="h3 subheader">Create a New Account</h3>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.csrf_token }}
            
            <div class="grid-container">
              <div class="grid-x grid-margin-x">
                <div class="cell">
                  {{ form.username.label(class="form-label") }}
                  {{ form.username(class="form-control") }}
                </div>
              </div>
              <div class="grid-x grid-margin-x">
                <div class="cell">
                  {{ form.password.label(class="form-label") }}
                  {{ form.password(class="form-control") }}
                </div>
              </div>
              <button type="submit" class="button">Register</button>
            </div>
            <span>Already Registered? <a href="{{ url_for('login') }}">Login</a></span>
          </form>
    </div>
</div>
{% endblock %}